<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration >
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/carstore</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.characterEncoding">UTF-8</property>
        <property name="show_sql">true</property>

        <mapping class="ru.job4j.models.components.Model"/>
        <mapping class="ru.job4j.models.components.Brand"/>
        <mapping class="ru.job4j.models.components.CarBody"/>
        <mapping class="ru.job4j.models.components.Transmission"/>
        <mapping class="ru.job4j.models.components.Engine"/>
        <mapping class="ru.job4j.models.components.DriveUnit"/>
        <mapping class="ru.job4j.models.SaleOrder"/>
        <mapping class="ru.job4j.models.User"/>
        <mapping class="ru.job4j.models.Car"/>
        <mapping class="ru.job4j.models.Photo"/>
        <mapping class="ru.job4j.models.City"/>
    </session-factory>
</hibernate-configuration>